:root {
  --primary-color: #3498db;
  --secondary-color: #00a846;
  --troisieme-color: #018ead;
  --nav-color: #00000033;
  --nav-color-intial: #ff713d;
  --font-size: 16px;
  --text-color: #90e7ff;
}

*,
*:before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body {
  padding-top: 100px ;
  color: var(--text-color);
  font-size: var(--font-size);
  font-family: Arial, sans-serif;
  margin: 0;
  height: 200vh; /* Ajoute de la hauteur pour permettre le scroll */
  background-image: url("../img/bg.jpg"); /* Remplacez par le chemin de votre image */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

/* Pseudo-élément pour le filtre d'opacité */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Couleur de l'effet */
  opacity: 0.6; /* Opacité initiale */
  z-index: -1; /* Place derrière le contenu */
  pointer-events: none; /* Empêche toute interaction avec cet élément */
}

h1 {
  font-size: 2rem; /* Decrease font size */
  font-weight: bold; /* Make the text bold */
  text-align: center; /* Center the text */
  margin-bottom: 20px; /* Add margin below the heading */
  color: var(--troisieme-color); /* Use your defined color */
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.3); /* Add a glow effect */
  letter-spacing: 1px; /* Adjust letter spacing */
}
  
.active-link .active {
  background-color: var(--nav-color);
  font-weight: bold;
  color: var(--troisieme-color);
  padding: 5px;
  border-radius: 5px;
}
.active-link .active:hover {
  background-color: var(--troisieme-color);
  color: var(--nav-color);
}
