
<footer>
    <div class="contact">
        <p class="nom">Contact : recettescuisine@yahoo.fr</p>
        <p class="nom">#recettes #cuisines</p>
        <p class="nom">Site réalisé par : Sheraqa</p>
    </div>

    <div class="reseaux-sociaux">
        <ul>
            <li>
                <a href="#" target="_blank">
                    <img src="./assets/img/logos/facebook.png" alt="icon" width="30">
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img src="./assets/img/logos/instagram.png" alt="icon" width="30">
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img src="./assets/img/logos/youtube.png" alt="icon" width="30">
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img src="./assets/img/logos/twitch.png" alt="icon" width="30">
                </a>
            </li>
        </ul>
    </div>
</footer>
<script src="assets/js/common.js"></script>
<script src="java.js"></script>
<script src="../assets/js/products.js"></script>
</body>
</html>