
<footer>
    <div class="contact">
        <p class="nom">Contact : e_commerce@jonline.fr</p>
        <p class="nom">Site réalisé par : Sheraqa</p>
    </div>

    <div class="reseaux-sociaux">
        <ul>
            <li>
                <a href="#" target="_blank">
                    <img src="src/assets/img/logos/facebook.png" alt="icon" width="30">
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img src="src/assets/img/logos/instagram.png" alt="icon" width="30">
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img src="src/assets/img/logos/youtube.png" alt="icon" width="30">
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img src="src/assets/img/logos/twitch.png" alt="icon" width="30">
                </a>
            </li>
        </ul>
    </div>
</footer>
<!-- icon live -->
<script src="https://cdn.lordicon.com/lordicon.js"></script>

<script src="src/assets/js/common.js"></script>
<script src="src/assets/js/java.js"></script>
<script src="src/assets/js/products.js"></script>
</body>
</html>