@import 'common' ;

.inscription-form {
    display: flex;
    flex-direction: column; /* Aligne les éléments verticalement */
    align-items: center; /* Centre les éléments horizontalement */
    margin: 20px auto; /* Centre le formulaire horizontalement et ajoute une marge en haut */
    background-color: #00000089;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px; /* Largeur fixe pour le formulaire */
  }
  
  .inscription-form input[type="text"],
  .inscription-form input[type="email"],
  .inscription-form input[type="password"] {
    width: 100%;
    padding: 10px;
    height: 50px;
    margin: 20px auto 5px auto ;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;

  }
  
  .inscription-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--troisieme-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
    height: 50px;

  }
  
  .inscription-form input[type="submit"]:hover {
    background-color: #0000003a;
  }
  
  .inscription-form a {
    color: var(--troisieme-color);
  }
  .inscription-form p {
    color: #f00;
    
    margin-bottom: 20px;
  }

